.nav
  input(
  id="slider-input"
  type="range"
  min="0"
  max="6"
  value="0"
  step="1"
  aria-label="navigation"
  )
script.
  let slider = document.getElementById("slider-input")
  slider.addEventListener('input',(evt)=> {
    window.scrollTo(0,(slider.value * 1000 ))
  })
  window.addEventListener('scroll', () => {
    let pageOffset = window.pageYOffset
    if(pageOffset < 1000)
      slider.value = 0
    else
      slider.value = parseInt(pageOffset.toString()[0])
  }, false);