.nav
  input(
  id="slider-input"
  type="range"
  min="0"
  max="5"
  value="0"
  step="1"
  aria-label="navigation"
  )
script.
  let slider = document.getElementById("slider-input")
  slider.addEventListener('input',(evt)=> {
    if(slider.value == 0) window.scrollTo(0,0)
    else window.scrollTo(0,((slider.value * 1000 ) + (200 * slider.value)))
  })
  window.addEventListener('scroll', () => {
    let pageOffset = window.pageYOffset
    if(pageOffset < 1000)
      slider.value = 0
    else
      slider.value = parseInt(pageOffset.toString()[0])
  }, false);